html{
    background-color: #131417;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.288);
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.showMessage{
    display:block;
    color: white;
    background-color: red;
    border-radius: 3px;
    text-align: center;
}

.message{
    display: none;
}

.link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
}

.dashboard_section{
    box-sizing: border-box;

}

.principal{
    padding: 1rem;
    height: calc(100% - 3rem);
}

.secondaire{
    height: calc(100% - 4rem);
    padding-top: 1rem;
}




.flex_left{
    display: flex;
    align-items: center;
}

.flex_contain{
    display: flex;
    flex-direction: row !important;
    justify-content: left;
    align-items: center;
}

.dashboard_case{
    background-color: #272a31;
    padding: 1rem;
    border-radius: 0.5rem;
    height: 100%;
}

.dashboard_case_title{
    font-size: 1.2rem;
    margin: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

}

.outlet{
    position: relative;;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3rem auto;
    height: 100%;
    width: 100%;

}


.dashboard_case_empty{
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
    backdrop-filter: blur(10px);

}

.title_section{
    width: 100%;
    position: relative;
    z-index: 2;
}


.button_submit{
    background-color: rgb(190, 6, 6);
    border: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.button_submit:hover{
    background-color: rgb(140, 5, 5);
}


.line_horizontal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1px;
}

.icon{
    font-size: 1.5rem;
}

.space_icon{
    margin-right: 1rem;
}

.breadCrumbsLink:hover{
    text-decoration: underline;
}


.background_glow{
    width: calc(100% + 2rem);
    height: 100%;
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    z-index: 0;
}

.background_glow_portfolio{
    background: radial-gradient(50% 50% at 50% 125%, #ff6363 0, rgba(39, 61, 180, 0.4) 49.9%, transparent 100%);
}

.background_glow_page{
    background: radial-gradient(50% 50% at 50% 125%, #ff6363 0, rgba(82, 48, 145, 0.4) 49.9%, transparent 100%);
}

.header_modification{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: solid 1px #6d6d6d;
    height: 4rem;
    width: 100%;
}

