html {
    font-size: 14px;
}

  
@media (max-width: 1600px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }
}


html{
    background-color: #131417;
    font-family: "Montserrat", sans-serif !important;
    color: rgba(255, 255, 255, 0.288);
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
}

p{
    margin: 0;
}



a{
    text-decoration: none;
}

button{
    font-family: 'Montserrat',sans-serif;
}

.showMessage{
    display:block;
    color: red;
}

.message{
    display: none;
}

.link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
}

.dashboard_section{
    box-sizing: border-box;
}

.principal{
    height: calc(100% - 3rem);
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaire{
    height: calc(100% - 4rem);
    padding-top: 1rem;
}

.shutter_section{
    background-color: var(--color-primary-secondary);
    border: 0.5px solid var(--color-primary-third);
    border-end-end-radius: 0.5rem;
    border-end-start-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
    margin-top: -1px;
    width: 100%;
}




.flex_left{
    display: flex;
    align-items: center;
}

.flex_contain{
    display: flex;
    flex-direction: row !important;
    justify-content: left;
    align-items: center;
}

.dashboard_case{
    background-color: #272a31;
    padding: 1rem;
    border-radius: 0.5rem;
    height: 100%;
}

.dashboard_case_title{
    font-size: 1.2rem;
    margin: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

}

.outlet{
    position: relative;;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2.5rem  100%;
    height: 100%;
    width: 100%;
    max-width: 1500px;

}


.dashboard_case_empty{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    height: calc(100% - 2.5rem);
    overflow: hidden;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    background-color: var(--color-primary-main);
    border: 0.5px solid var(--color-primary-third);

}

.title_section{
    width: 100%;
    position: relative;
    z-index: 2;
}


.button_submit{
    background-color: rgb(190, 6, 6);
    border: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.button_submit:hover{
    background-color: rgb(140, 5, 5);
}


.line_horizontal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1px;
}

.icon{
    font-size: 1.5rem;
}

.space_icon{
    margin-right: 1rem;
}

.breadCrumbs{
    font-size: 0.9rem;
    font-weight: 500;
}

.breadCrumbsLink:hover{
    text-decoration: underline;
}


.background_glow{
    width: calc(100% + 2rem);
    height: 100%;
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    z-index: 0;
}


.header_modification{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}


.textCenter{
    text-align: center;
}
.popupText{
    margin-bottom: 2rem;
}

.SaveButton{
    padding-left: 6px !important;
    padding-right: 6px !important;
    min-width: 0px !important;
}


.blueText{
    color: var(--primary-color);
}


.titlePage{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  
}

.title_contain{
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-right: 0;
    margin-left: 0;
}


figure{
    margin: 0;
    margin-bottom: 1rem;
}

figure > div{
    width: 100%;
}


.backButton{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
}

.backButton:hover{
    color: var(--primary-hover-color) !important;
}


.none-section{
    display: none;
}



.heading_h3{
    margin: 0;
}


.link_menu{
    padding: 0.5rem 1rem ;
    font-size: 0.87rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    border-right: solid 0.5px var(--color-primary-third);
}

.link_menu_box{
    position: relative;
    display: flex;
    align-items: center;
    border-start-start-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
    overflow: hidden;
    border-top: solid 0.5px var(--color-primary-third);
    border-left: solid 0.5px var(--color-primary-third);
}

.link_menu:hover{
    background-color: var(--color-primary-secondary);
}

.link_menu_active{
    background-color: var(--color-primary-secondary);
    border-bottom: 0.5px solid transparent;
}

