.form_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input_profile_image_box{
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    overflow: hidden;
    margin-bottom: 2rem;

}

.label_profile_image{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    opacity: 0%;
    transition: 0.2s ease;
}

.label_profile_image:hover{
    opacity: 50%;
}

.input_profile_image{
    display: none;
}

.profile_image_account{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.input_profil_text{
    background-color: #131417;
    border: 1px #434853 solid;
    height: 2.5rem;
    width: 70%;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.input_profil_text:focus{
    outline-width: 0;
}

.no_modif{
    display: flex;
    align-items: center;
    background-color: transparent;
}

.account-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.account-info-container{
    width: min(40rem, 100%);
    max-width: 800px;
}


.account-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    border: solid 1px;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
    padding-bottom: 1rem;

}



.accountInfoBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}


.account_photo{
    width: 6rem !important;
    height: 6rem !important;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    border: 0.5rem solid;
}

.accountInfoBasicBox{
    justify-content: start !important;
    align-items: end;
    gap: 0.5rem;
    border-bottom: 1px solid;
    padding: 1rem;
}

.bannerAccount{
    width: 100%;
    height: 3rem;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


.popupAccount{
    border-radius: 0.5rem;
    border: 1px solid;
    padding: 1rem !important;
    display: flex;
    flex-direction: column;
}