.loading_field{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: var(--color-primary-main);

}





.DraftEditor-root{
    min-height: 9rem;
    padding: 0.5rem;
}

.DraftEditor-root blockquote {
  border-left: 1px solid var(--primary-color);
  font-style: italic;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.public-DraftStyleDefault-ul, .public-DraftStyleDefault-ol {
    padding-left: 30px;
}

.DragAndDropField{
    height: 10rem;
}

.DragAndDropGallery{
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 0.5rem;
}


.editor-container{
    border: none;
    border-radius: 0.5rem;
    min-height: 10rem;
    position: relative;
    box-shadow: var(--color-shadow-main);
}




.tooltip-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: var(--color-primary-secondary);
    box-shadow: var(--color-shadow-main);
    z-index: 1;
    gap: 0.5rem;

    
}

.editor_button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.2rem;
    border-radius: 0.3rem;

}

.editor_button:hover{
    background-color: var(--button-hover-color);
}


.editor_button_title{
    font-size: 1rem;
    height: 1.2rem;
    font-weight: 500;
    
}


.link-tooltip{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: var(--color-shadow-main);
    background-color: var(--color-primary-secondary);
    padding: 0.2rem;
    z-index: 1;
}

.link-tooltip-form{
    display: flex;
    gap: 0.5rem;

    justify-content: center;
    align-items: center;

}

.link-tooltip-select{
    border-radius: 0.3rem !important;
    font-size: 0.8rem !important;
}

.link-tooltip-select:hover{
    background-color: var(--button-hover-color);

}

.link-tooltip-menu-item{
    font-size: 0.9rem !important;
}

.link-tooltip-menu-icon{
    margin-right: 0.3rem;
    color: var(--color-text-secondary) !important;
}

.link-tooltip-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.link-tooltip-button:hover{
    background-color: var(--button-hover-color);
}   



.link-tooltip-input{
    padding: 0.3rem;
    background-color: transparent;
    border: none;
}

.link-tooltip-input:focus{
    outline: none;
}

.addon-tooltip{
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 0.2rem;
    align-items: start;
    justify-content: center;
}

.addon-tooltip-button{
    background-color: var(--color-primary-secondary);
    border: none;
    border-radius: 0.2rem;
    box-shadow: var(--color-shadow-main);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addon-tooltip-button:hover{
    background-color: var(--button-hover-color);
}

.addon-tooltip-select{
    background-color: var(--color-primary-secondary);
    border-radius: 0.2rem;
    box-shadow: var(--color-shadow-main);
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.addon-tooltip-option{
    background-color: transparent;
    border-radius: 0.2rem;
    padding: 0.1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    font-family: 'Montserrat', sans-serif !important;
    gap: 0.3rem;
}

.addon-tooltip-option:hover{
    background-color: var(--button-hover-color);
}




.image_blog{
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    height: 10rem;
    box-shadow: var(--color-shadow-main);
}

.gallery_blog{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    box-shadow: var(--color-shadow-main);
}




.ImageUploaded_contain{
    height: 100%;
    display: flex;
    align-items: center;
    
    padding-left: 1rem;
    overflow: hidden;
}

.gallery_contain{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-bottom: 1rem;
    overflow: auto;
    max-height: 30rem;
    padding: 0.5rem;
    margin: 0;
}

.gallery_box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
    padding-right: 1rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    cursor: grab;
    border-radius: 0.5rem;
    
}

.gallery_box:hover{
    background-color: var(--color-secondary-third);
}

.gallery_box:active{
    cursor: grabbing;
 
}

.gallery_add_contain{
    width: 100%;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
}

.flex_gallery{
    gap : 1rem;
}

.Image_uploaded{
    height: 8rem;
    object-fit: cover;
    border-radius: 0.5rem;
}




.image_gallery{
    height: 100%;
    width: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
}


.gallery_text{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link_image_gallery{
    display: flex;
    align-items: center;
}

.logoUploadImage > svg{
    width: 100%;
    height: 4rem;
}

.button_contain{
    display: flex;
    align-items: center;
}

.button_image_blog{
    margin-right: 0.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info_image_blog{
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: solid 1px #6d6d6d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 8rem;
}


.input_image_blog{
    display: none;
}

.input_image_blog:focus{
    outline: none;
}

.label_input_image_blog{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.alt_input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.2rem;
    width: 100%;
    margin-top: 0.2rem;
    font-family: "Montserrat", sans-serif !important;
    box-shadow: var(--color-shadow-main);
    background-color: var(--color-primary-main);
    color: var(--color-text-primary);
    border: none;
}

.alt_input:focus{
    outline: none;
}

.input_text_blog{
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    font-family: "Montserrat", sans-serif !important;
    font-size: 1rem;
    resize: vertical;
    box-shadow: var(--color-shadow-main);
    background-color: var(--color-primary-main);
    color: var(--color-text-primary);
    border: none;
    
}

.input_text_blog:focus{
    outline: none;
}

.flex_image{
    align-items: normal;
    gap: 1rem;
}


.select_multiRef{
    box-shadow: var(--color-shadow-main);
    border-radius: 0.5rem;
}

.mutliReference_input{
    height: 2.5rem;
}

.blogfield_contain_auto{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}




