.editPortfolio_contain{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.sc-aXZVg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.DragAndDrop{
    width: 100%;
    height: 8rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    cursor: pointer;
}

.logoUploadImage{
    font-size: 4rem;
}

.Item_menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-bottom: solid 0.5px var(--color-primary-third);
}

.portfolio_edit_place{
    width: 100%;
    overflow-y: auto;
    scrollbar-color: #272a31 transparent; 
    scrollbar-width: thin;
    height: calc(100% - 9rem);
}

.Item_Portfolio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
    border-top: 0.5px solid var(--color-primary-third);
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
}

.Item_Portfolio:hover{
    background-color: var(--hover-background-color);
}

.Item_Portfolio:active{
    cursor: grabbing;
    box-shadow: 5px 5px 12px 0px rgb(17, 18, 21);

}

.Item_portfolio_element{
    font-size: 0.87rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.Item_image{
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

.Item_image_menu{
    width: 4rem;
}

.alt_element{
    width:20%;
}

.name_element{
    width: 25%;
}

.order_element{
    width: 4rem;
}

.option_element{
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_option_portfolio{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}


.menu_element:hover{
    color: #5b6b79 ;
}

.option_element_menu{
    width: 4rem;
}






