.Item_menu_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liste_contact_contain{
    height: 100%;
}

.message_name_element{
    width: 20%;
    display: flex;
    align-items: start;
}

.message_subject_element{
    width: 30%;
    display: flex;
    align-items: start;
}

.message_date_element{
    width: 20%;
}

.message_option_element{
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option_menu{

    padding: 0.5rem;
}

.option_menu_message{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
}

.option_menu_message:hover{
    color: #0541b7 !important;
}

.message_contain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #272a31 transparent; 
    scrollbar-width: thin;
    height: calc(100% - 9rem);
}

.message_content{
    padding: 1rem;
    border-radius: 0.5rem;
}

.message_date{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: right;
}


.liste_contact_box{
    height: calc(100% - 11.5rem);
}