.blogField_contain{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.blogField_name{
    font-size: 0.9rem;
    font-weight: 500;
}

.blogField_description{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.blogField_field{
    margin-top: 0.3rem;
}

.missed_field{
    border-bottom: solid 1px red;
    border-radius: 0.2rem;
}

.missed_field_text{
    color: red;
    font-size: 0.8rem;
    margin: 0;
    padding: 0.2rem;
}

.blogDate{
    color: var(--color-text-secondary);
    font-weight: 500;
}

.Blog_creation_Page{
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.collection_content{
    height: 100%;

}

.Blog_creation_field_contain{
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #272a31 transparent; 
    scrollbar-width: thin;
    height: calc(100% - 3rem);
    border-top: solid 0.5px var(--color-primary-third);
}


.delete_button_blog{
    font-size: 0.7rem !important;
}


.edit-case_empty{
    padding: 0;
    border: none;
    background-color: transparent;
}


.header_page_modification{
    justify-content: space-between;
}




