.liste_blog_contain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.liste_blog_box{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #272a31 transparent; 
    scrollbar-width: thin;

}

.Item_Blog{
    height: 3rem;
    cursor: pointer;
    text-decoration: none;
}

.Item_Blog:active{
    cursor: pointer;
    box-shadow: none;
}

.blog_name_element{
    width: 30%;
}

.blog_date_element{
    width: 20%;
}


.blog_status{
    min-width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.1rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}


.publish_status{
    color: #46fea5d4;
    
    background-color: #22ff991e;
}

.draft_status{
    color: #92a6ff;
    background-color: #1751ff2d;
}

.pending_status {
    color: #fffd92;
    background-color: #ffe6072d;
}